.dot {
  height: 5px;
  width: 5px;
  background-color: #E73B36;
  border-radius: 50%;
  display: inline-block;
}

.dot-title {
  height: 15px;
  width: 15px;
  background-color: #E73B36;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
